textarea
  resize: none !important
  @apply bg-transparent overflow-hidden
  
.dim
  position: fixed
  left: 0
  right: 0
  bottom: 0
  background: rgba(17,17,17,0.3)
  z-index: 1001

  display: none
.dim-show
  display: block

.label
  @apply font-bold cursor-default text-left text-white

.indicator
  min-width: 8px

.onoff
  box-shadow: 0 0 0 3px #2c3351 !important


// Note related
.note-deleted
  border: groove #c53030 !important 

.overlay
  background-color: rgba(255,0,0,0.8) !important
  @apply absolute left-0 right-0 top-0 bottom-0 flex flex-col justify-center text-center cursor-default z-10